/* Add your own styles */
body {
    display: flex;
    display: -webkit-flex;
    display: -moz- flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    height: 500px;
    background-color: rgb(166, 213, 235);

}

main {
    display: flex;
    margin: 10px 0px 0px 0px;
    flex-direction: column;
}

body>header {
    margin: 0px;
    padding: 30px;
    width: 100%;
    height: 40px;
    background-color: rgb(51, 173, 230);
    color: white;
    text-align: center;
    /*vertical-align: center;*/
    justify-content:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    position: relative;

}

#country {
    margin: 0px 5px 10px 10px;
    width: 350px;
    height: 30px;

}

#lookup{
    margin: 0px 5px 5px 0px;
    width: 80px;
    height: 35px;
    padding: 5px 5px 5px 5px;
    background-color: rgb(15, 78, 107);
    color: white;
}

#controls {
    margin: 10px 10px 0px 0px;
    display: flex;
    flex-direction: row;
    width: 40%;
    height: inherit;
     /*background-color: sandybrown; */

}

#result {
    margin: 10px 40px 0px 0px;
    text-align: justify;
    text-justify: inter-word;
    width: 500px;
    height: inherit;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    text-transform: uppercase;
}

.redError {
    color: red;
}
