/* Add your own styles */
body {
    display: flex;
    display: -webkit-flex;
    display: -moz- flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    align-content:center;

}

main {
    display: flex;
    margin: 0px;
    /*width:100%;*/
    flex-direction: column;
    align-items:center;
}

body>header {
    margin: 0px;
    width: 100%;
    height: 100px;
    background-color: rgb(51, 173, 230);
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
 

}

#country {
    margin: 0px 5px 10px 10px;
    width: 400px;
    height: 30px;

}

.btn{
    margin: 0px 5px 5px 0px;
    width: 150px;
    height: 35px;
    padding: 5px 5px 5px 5px;
    background-color: rgb(15, 78, 107);
    color: white;
}

#controls {
    margin: 10px 10px 0px 0px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: inherit;
    align-items:center;
     
}
#input-div{
    flex-direction:row;
}
#div-buttons{
    flex-direction: row;
}
#lookup-cities{
    background-color: #afeeee;
}

#result {
    margin: 10px 20px 20px 30px;
    text-justify: inter-word;
    width: 80%;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    text-transform: uppercase;
}

.redError {
    color: red;
}

table {
  margin:0px;
  width:100%;
  border-collapse: collapse;
}


td,th{
    width: 100px;
    height:10px;
    border: 1px solid #ddd;
    padding: 8px;

}

tr:nth-child(even){background-color: #f2f2f2;}

td:hover {background-color: #ddd;}

 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color:rgb(51, 173, 230);
  color: white;
}